.content{
    height: 100px;
    background-color: #CB6CE6;

  }
  
.logo{
  margin-left: 550px;
}

  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*text van hien thi khi tran ra*/
    background-color: aliceblue;
  }
  
  header li {
    float: left;
  }
  
  header li a {
    display: block;
    background-color: #CB6CE6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;

    color: yellow;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 5px;
  }
  header li nav {
    margin-left: 10px;
    margin-top: 5px;
  }

  header a.active {
    background-color: #111;
    color: white;
  }
  
  header li a:hover {
    background-color: #d63636;
  }
  
  .search {
    float: right;
  }
  
  .inputs {
    padding: 6px;
    margin-top: 10px;
    font-size: 15px;
    margin-left: 130px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  
  .buttons {
    display: flex;
    cursor: pointer;
    float: right;
    padding: 6px 10px;
    margin-top: 10px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .buttons:hover {
    background: white;
  }




footer {
    background-color: #bf68d7;
    margin-top: 2px;
    border: 1px solid #ed4190;
    border-radius: 5px;
    padding: 0 5px;
    color: white;
    display: flex;
    justify-content: center;
    /*can giua chieu ngang*/
    align-items: center;
    /*can giua chieu doc*/
    height: 50px;
    margin-top: 30px;
    font-size: 20px;
  }
  
  footer a {
    color: white;
    letter-spacing: 20px;
  }
  
  /* ----main trangchu----*/
  
  h2{
    color: #bf68d7;
  }
  
  .img1 img{
    margin-top: 10px;
    border: solid rgb(237, 198, 26);
  }
  
  #img2{
    width: 200px;
    height: 200px;
    border: solid rgb(237, 198, 26);
  }
  
  #img3{
    width: 200px;
    height: 200px;
    border: solid rgb(237, 198, 26);
  }
  
  #img4{
    width: 200px;
    height: 200px;
    border: solid rgb(237, 198, 26);
  }
  
  .main1 h1{
    color: #bf68d7;
    text-decoration: underline greenyellow;
  }
  
  #main1-1{
    font-size: larger;
  }
  
  .main2 h1{
    text-decoration: underline firebrick;
    color:#bf68d7 ;
  }
  
  .main5 h1{
    text-decoration: underline firebrick;
    color:#bf68d7 ;
  }
  
  #main2-1{
    font-size: larger;
  }
  
  #main3-1{
    font-size: larger
  }
  
  #main4-1{
    font-size: larger
  }
  

/**//**//**//**//**//**//**/
/**//**//**//**//**//**//**/

* {
    box-sizing:border-box
  }
  h2 {
    text-align: center;
  }
  /* Slideshow container */
  .slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
  }
  /* ?n các slider */
  .mySlides {
      display: none;
  }
  /* Đ?nh d?ng n?i dung Caption */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
   
  /* d?nh d?ng các ch?m chuy?n d?i các slide */
  .dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  /* khi du?c hover, active d?i màu n?n */
  .active, .dot:hover {
    background-color: #717171;
  }
   
  /* Thêm hi?u ?ng khi chuy?n d?i các slide */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
  }
   
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
   
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  .kk{
    width: 600px;
    height: 300px;
    margin-top: 30px;
  }